/* ==========================================================================
   Typography settings
   ========================================================================== */

$font-sans-serif: Helvetica, sans-serif;
$font-serif: "Times New Roman", serif;
$font-code: "Courier", monospace;

$global-font-size:    16px !default;
$global-line-height:  1.15;
